
a:hover { text-decoration: none; }

.header-top { background:#f4f4f4!important }

.site-links{ float:left  }

.site-links ul li:nth-child(2), .site-links ul li:nth-child(2):after, .site-links ul li:nth-child(2):before {
    background-color: #000;
    color: #fff;
}

.site-links ul li {
    border-radius: 4px 4px 0 0;
}

.site-links ul li {
    z-index: 3;
}

.site-links ul li:first-child, .site-links ul li:nth-child(2) {
    display: block;
    float: left;
    padding: 9px 14px 8px;
    margin-right: 50px;
    z-index: 2;
    position: relative;
    cursor: pointer;
}

.site-links ul li:first-child { background-color: #000; }

.site-links ul li:nth-child(2), .site-links ul li:nth-child(2):after, .site-links ul li:nth-child(2):before {
    background-color: #cdcdcd;
    color: #fff;
}

.site-links ul li:before, .site-links ul li:after {
    border-radius: 0 4px 0 0;
}

.site-links ul li:after {
    left: -24px;
    transform: skew(-27deg,0deg);
}

.site-links ul li:first-child:after, .site-links ul li:first-child:before {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    width: 34px;
    background-color: #000;
    transition: all 250ms ease;
}

 .site-links ul li:nth-child(2):after, .site-links ul li:nth-child(2):before {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    width: 34px;
    background-color: #cdcdcd;
    transition: all 250ms ease;
}

.site-links ul li:before {
    right: -24px;
    transform: skew(27deg,0deg);
}

.site-links ul li a { color:#fff;  }


.sitel_logo_white {
    background: url("../images/f21_white.png") no-repeat;
    background-position: bottom center;
    background-size: contain;
    display: block;
    position: relative;
    width: 80px;
    height: 14px;
    float: none;
    margin: auto;
    z-index: 8;
}

.sitel_logo_rr {
    background: url("../images/rr.png") no-repeat;
    background-position: bottom center;
    background-size: contain;
    display: block;
    position: relative;
    width: 80px;
    height: 14px;
    float: none;
    margin: auto;
    z-index: 8;
}

.promo-text { overflow:hidden; width:50%; padding-top:3px;  display:block; }
